{% assign authorCount = include.post.author | size %}
Written on {{ include.post.date | date: "%-d %B %Y" }} by
{% if authorCount == 0 %}
   Trowel & Lime
{% else %}
   {% for author in include.post.author %}
      {% if forloop.first == true %}
         {% assign author_data = site.data.team | where:"id", author %}
         {% assign authorOne = author_data | first %}
         {{ authorOne.name }}
      {% elsif forloop.last == true %}
         {% assign author_data = site.data.team | where:"id", author %}
         {% assign authorOne = author_data | first %} and {{ authorOne.name }}
      {% else %}
         {% assign author_data = site.data.team | where:"id", author %}
         {% assign authorOne = author_data | first %}, {{ authorOne.name }}
      {% endif %}
   {% endfor %}
{% endif %}