<div class="block">
   <span id="sitemap">
      <div class="footer-unit not-below-desktop-size">
         <div class="footer-halfunit">
            <ul class="text-right">
               <li><h6 class="metadata-item"><a href="{{ site.baseurl }}/">{{ site.data.sgraffito.name }}</a></h6></li>
            </ul>
         </div>
         <div class="footer-halfunit">
            <ul>
               <li><h6><a href="{{ site.baseurl }}/gallery">Gallery</a></h6></li>
               <li><h6><a href="{{ site.baseurl }}/how-we-work">How we work</a></h6></li>
               <li><h6><a href="{{ site.baseurl }}/contact">Contact</a></h6></li>
               <!-- <li><h6><a href="{{ site.baseurl }}/blog">Blog</a></h6></li> -->
            </ul>
         </div>
      </div>

      <div class="footer-unit not-above-desktop-size">
         <ul>
            <li><h6 class="metadata-item"><a href="{{ site.baseurl }}/">{{ site.data.sgraffito.name }}</a></h6></li>
            <li><h6><a href="{{ site.baseurl }}/gallery">Gallery</a></h6></li>
            <li><h6><a href="{{ site.baseurl }}/how-we-work">How we work</a></h6></li>
            <li><h6><a href="{{ site.baseurl }}/contact">Contact</a></h6></li>
            <!-- <li><h6><a href="{{ site.baseurl }}/blog">Blog</a></h6></li> -->
         </ul>
      </div>
   </span>

   <div id="contact-us" class="footer-unit">
      <ul>
         <li><h6><span class="metadata-item">Get in touch</span></h6></li>
         <li><h6><span class="metadata-item"></span><a href="mailto:{{ site.data.sgraffito.email }}" class="underlined-link"><span class="nowrap">{{ site.data.sgraffito.email }}</span></a></h6></li>
         <li><h6><span class="metadata-item"></span><a href="tel:{{ site.data.sgraffito.telephone }}" class="underlined-link"><span class="nowrap">{{ site.data.sgraffito.telephone }}</span></a></h6></li>
      </ul>
   </div>

   <!-- <div id="social-media" class="footer-unit">
      <ul>
         <li><h6><span class="metadata-item">Follow us</span></h6></li>
         <li><a href="http://instagram.com/{{ site.data.sgraffito.twitter }}" class="no-hover-border"><span class="icon icon-instagram"></span></a></li>
         <li><a href="http://pinterest.com/{{ site.data.sgraffito.twitter }}" class="no-hover-border"><span class="icon icon-pinterest"></span></a></li>
         <li><a href="http://facebook.com/{{ site.data.sgraffito.twitter }}" class="no-hover-border"><span class="icon icon-facebook"></span></a></li>
      </ul>
   </div> -->
</div>

<div class="block">
   <div class="copyright text-center">
      <h6>All content &copy;{{ 'now' | date: "%Y" }}<span class="icon-trowelandlime logo"></span>{{ site.data.sgraffito.name }}</h6>
   </div>
</div>