<div class="container">
   <div class="container-box">
      <h6>Copyright 2006–{{ 'now' | date: "%Y" }} Melania Yerka.</h6>
      <h6>42/44 Copperfield Road, E3 4RR, London</h6>
      <h6>0797-229-6732</h6>
   </div>

   <div class="container-box">
      <h6>Email: <a href="mailto:sgraffito@gmail.com">sgraffito@gmail.com</a></h6>
      <h6>Twitter: <a href="http://twitter.com/sgraffito">@sgraffito</a></h6>
      <h6>Facebook: <a href="http://facebook.com/sgraffito">Sgraffito</a></h6>
   </div>
</div>