<div class="modal">
   <label for="{{ include.number }}">
      <a><img src="/case-studies/img/{{ include.image }}"></a>
   </label>
   <input class="modal-state" id="{{ include.number }}" type="checkbox" />
   <div class="modal-window">
      <div class="modal-inner">
         <label for="{{ include.number }}">
            <div class="button close-button">
               <h3>Close</h3>
            </div>
            <img class="enlarged-img" src="/case-studies/img/{{ include.image }}">
         </label>
      </div>
   </div>
</div>