<div class="header-name">
   <h1>
      <a href="/">Sgraffito</a>
   </h1>
</div>

<nav class="header-menu">
   <label for="show-menu" class="show-menu">
      <h5>
         <a>Menu</a>
      </h5>
   </label>
   <input type="checkbox" id="show-menu" role="button">
   <ul id="menu">
      <span class="mobile">
         {% if page.label != "home" %}
            <li><a href="/"><h5>Home</h5></a></li>
         {% endif %}
         {% if page.label != "gallery" %}
            <li><a href="/gallery"><h5>Gallery</h5></a></li>
         {% endif %}
         {% if page.label != "technique" %}
            <li><a href="/technique"><h5>Technique</h5></a></li>
         {% endif %}
         {% if page.label != "offer" %}
            <li><a href="/offer"><h5>Offer</h5></a></li>
         {% endif %}
         {% if page.label != "artist" %}
            <li><a href="/artist"><h5>Artist</h5></a></li>
         {% endif %}
         {% if page.label != "blog" %}
            <li><a href="/blog"><h5>Blog</h5></a></li>
         {% endif %}
         {% if page.label != "contact" %}
            <li><a href="/contact"><h5>Contact</h5></a></li>
         {% endif %}
      </span>
      <span class="desktop">
         <li><a href="/gallery"><h5>Gallery</h5></a></li>
         <li><a href="/technique"><h5>Technique</h5></a></li>
         <li><a href="/offer"><h5>Offer</h5></a></li>
         <li><a href="/artist"><h5>Artist</h5></a></li>
         <li><a href="/blog"><h5>Blog</h5></a></li>
         <li><a href="/contact"><h5>Contact</h5></a></li>
      </span>
   </ul>
</nav>