{% if paginator.total_pages > 1 %}
	<div class="pagination">

		{% if paginator.next_page %}
			<div style="float:left;"><a class="page-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Older Posts</a></div>
		{% else %}
			<div style="float:left;"><span class="page-prev-inactive">&laquo; Older Posts</span></div>
		{% endif %}

		{% if paginator.previous_page %}
			<a class="page-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts &raquo;</a>
		{% else %}
			<div style="float:right;"><span class="page-prev-inactive">Newer Posts &raquo;</span></div>
		{% endif %}
	</div><!-- #pagination -->
{% endif %}
