<div class="modal">
   <label for="{{ include.number }}">
      <a><img src="/technique/img/{{ include.image }}"></a>
   </label>
   <input class="modal-state" id="{{ include.number }}" type="checkbox" />
   <div class="modal-window">
      <div class="modal-inner">
         <label for="{{ include.number }}">
            <div class="button regular-button close-button">
               <h3>Close</h3>
            </div>
            <img class="enlarged-img" src="/technique/img/{{ include.image }}">
            <h6 class="modal-credit">{{ include.credit }}</h6>
         </label>
      </div>
   </div>
</div>