// Declare breakpoints
$small: new-breakpoint(max-width 480px);
$medium: new-breakpoint(max-width 768px);

$transition: 0.2s;

// Link font
@import 'https://fonts.googleapis.com/css?family=Scope+One&subset=latin-ext';


// Globals
html {
   overflow-y: scroll; // Fixing jumping scroll bar when page overflows
   overflow-x: hidden;;
   position: relative;
   min-height: 100%;
}

@-ms-viewport {
   width: device-width; // Fixing MS viewport
}

body {
   font-family: 'Scope One', serif;
   margin: 0px;
   background-color: #f2f2f2
}

a {
   &:hover {
      transition: $transition;
   }
}

h1 {
   font-size: 64px;
   text-align: center;
   @include media($small) {
      font-size: 48px;
      line-height: 56px;
   }
}

h2 {
   font-size: 28px;
   text-align: center;
   @include media($small) {
      font-size: 24px;
      line-height: 32px;
   }
}

h3 {
}

h4 {
   font-size: 28px;
   text-align: left;
}

h5 {
   font-size: 18px;
}

h6 {
   font-size: 16px;
   text-align: left;
   margin-top: 1em;
   margin-bottom: 0px;
}

p {
   font-size: 24px;
}

main {
   width: 100%;
}