.blog {

   .hero {
      .hero-container {
         background-image: url("/img/render_shovel_S.jpg");
      }

      .page-container {
         background-color: $white;
      }

      .title-container {
         text-align: center;
         h1 {
            margin: 1em 0em 0.5em 0em;
         }
         h2 {
            color: $black;
            border-color: $black;
         }
      }

      .blogpost {
         border-top: 1px solid $grey;
         &:first-of-type {
            border-top: none;
         }
         img {
            width: 100%;
         }
         .blogpost-text {
            a {
               border-bottom: 1px dashed $black;
               &:hover {
                  border-color: $yellow;
               }
            }
            img {
               display: block;
               margin-top: 2em;
            }
            h6 {
               color: $grey;
               margin-bottom: 1.5em;
            }
         }
      }

      .blogpost-margin {
         padding: 4em 0em;
      }

      .metadata {
         margin: 1em 0em 1.5em 0em;
      }

      .tags {
         a {
            margin-right: 1em;
            padding: 0.25em 1em;
            border: none;
            background-color: $grey;
            border-radius: 10px;
            &:hover {
               background-color: $yellow;
               color: $white;
            }
         }
         h6 {
            margin: 0em;
         }
      }

      .list-of-tags {
         margin-bottom: 1em;
         &:last-of-type {
            margin-bottom: 0em;
            h6 {
               margin-bottom: 0.5em;
            }
         }
         p {
            margin-bottom: 0.5em;
         }
      }

      .pagination {
         @include outer-container(100%);
         .posts-link {
            @include span-columns(6);
         }
         .older {
            text-align: left;
         }
         .newer {
            text-align: right;
         }
      }

      .grey {
         color: $grey;
      }
   }
}