// VARIABLES
// Declare breakpoints
$for-phone-only: new-breakpoint(max-width 767px);
$for-tablet-up: new-breakpoint(min-width 768px);
$for-desktop-up: new-breakpoint(min-width 992px);

// Declare grid units
$grid-phone: 11;
$margin-phone: 0.5;
$grid-desktop: 9;
$margin-desktop: 1.5;

// Declare style elements
$transition: 0.33s;
$radius: 8px;

// Declare colours
$main: rgba(246, 246, 244, 1);
$white: rgba(255, 255, 255, 1);
$white-hover: rgba(255, 255, 255, 0.66);
$black: rgba(33, 33, 33, 1);
$grey: rgba(33, 33, 33, 0.25);
$black-hover: rgba(33, 33, 33, 0.33);
$hero-hover: rgba(33, 33, 33, 0.8);
$yellow: rgba(250, 199, 6, 1);
$yellow-trans: rgba(250, 199, 6, 0.6);



// GLOBALS
html {
   overflow-y: scroll; // Fixing jumping scroll bar when page overflows
   overflow-x: hidden;
}

@-ms-viewport {
   width: device-width; // Fixing MS viewport
}

body {
   margin: 0px;
   background-color: $white;
   min-height: 100%;
}



// TYPOGRAPHY
a {
   color: inherit;
   text-decoration: none;
   &:hover {
      transition: $transition;
      color: $yellow;
      border-bottom: 1px dashed $yellow;
   }
}

h1 {
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   margin: 0px;
}

h2, h3 {
   font-family: 'Rufina', serif;
   font-weight: 700;
   margin: 0px;
}

p, h4, h5, h6 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   margin: 0px;
}

p { // body text
   font-size: 1.2em;
   line-height: 1.7em;
   color: $black;
   margin: 0.5em 0;
}

h1 { // logotype
   font-size: 2.1em;
   color: $black;
}

h2 { // page title, hero text
   font-size: 1.6em;
   @include media($for-tablet-up) {
      font-size: 2.2em;
   }
   @include media($for-desktop-up) {
      font-size: 2.6em;
   }
   color: $black;
}

h3 { // buttons
   font-size: 1.6em; // alternatively 1.5em
   color: $black;
}

h4 { // home page paragraphs, gallery title
   font-size: 1.5em;
   line-height: 1.6em;
   margin: 0.5em 0;
   color: $black;
}

h5, h6 { // basic navbar and footer style
   font-size: 1em;
   line-height: 1.5em;
   margin-top: 1em;
   color: $black;
}

.superscript {
   position: relative;
   bottom: 3px;
}

.block {
   @include span-columns($grid-phone);
   @include shift($margin-phone);
   @include media($for-tablet-up) {
      @include span-columns($grid-desktop);
      @include shift($margin-desktop);
   }
}