// VARIABLES
// Declare breakpoints
$for-phone-only: new-breakpoint(max-width 767px);
$for-tablet-up: new-breakpoint(min-width 768px);
$for-desktop-up: new-breakpoint(min-width 992px);

// Declare grid units
$grid-phone: 11;
$margin-phone: 0.5;
$grid-desktop: 9;
$margin-desktop: 1.5;

// Declare style elements
$transition: 0.33s;
$radius: 8px;

// Declare colours
$main: rgba(246, 246, 244, 1);
$white: rgba(255, 255, 255, 1);
$white-hover: rgba(255, 255, 255, 0.66);
$black: rgba(33, 33, 33, 1);
$black-trans: rgba(33, 33, 33, 0.6);
$grey: rgba(213, 213, 211, 1);
$yellow: rgba(250, 199, 6, 1);
$yellow-trans: rgba(250, 199, 6, 0.6);



// GLOBALS
html {
   overflow-y: scroll; // Fixing jumping scroll bar when page overflows
   overflow-x: hidden;
}

@-ms-viewport {
   width: device-width; // Fixing MS viewport
}

body {
   margin: 0px;
   background-color: $white;
   min-height: 100%;
}



// TYPOGRAPHY
a {
   color: inherit;
   text-decoration: none;
   &:hover {
      transition: $transition;
      color: $yellow;
      border-bottom: 1px dashed $yellow;
   }
}

h1, h2 {
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   margin: 0px;
}

p, h5, h6 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   margin: 0px;
}

p { // body text
   color: $black;
   font-size: 1em;
   margin: 0.5em 0 0.75em 0;
   line-height: 1.6em;
   @include media($for-tablet-up) {
      font-size: 1.2em;
      line-height: 1.7em;
   }
}

h1 { // used for logotype
   color: $black;
   font-size: 2.1em;
}

h2 { // used for page titles and statement headers (must locally override colour if not grey)
   color: $grey;
   font-size: 2em;
   display: inline-block;
   border-bottom: 1px solid $grey;
   padding-bottom: 12px;
   margin-bottom: 12px;
   @include media($for-tablet-up) {
      font-size: 2.2em;
   }
   @include media($for-desktop-up) {
      font-size: 2.6em;
   }
}

h4 { // home page paragraphs, gallery title
   color: $black;
   font-size: 1.5em;
   line-height: 1.6em;
   margin: 0.5em 0;
}

h5 { // used for buttons
   color: $black;
   font-size: 1em;
   @include media($for-tablet-up) {
      font-size: 1.2em;
   }
}

h6 { // used for basic navbar and footer style
   color: $black;
   font-size: 1em;
   line-height: 1.5em;
   margin-top: 0.5em;
   // letter-spacing: 0.2px;
}

section {
   background-color: $main;
   padding: 4em 0em;
   &:last-of-type {
      padding-bottom: 0em;
   }
   // border: 1px dotted yellow;
}



// GRIDS
.container {
   @include outer-container(100%);
   // border: 1px dotted blue;
}

.block {
   // border: 1px solid red;
   @include span-columns($grid-phone);
   @include shift($margin-phone);
   @include media($for-tablet-up) {
      @include span-columns($grid-desktop);
      @include shift($margin-desktop);
   }
}

.middle-grid {
   // border: 1px dotted grey;
   @include span-columns(11);
   @include shift(0.5);
   @include media($for-tablet-up) {
      @include span-columns(9);
      @include shift(1.5);
   }
   @include media($for-desktop-up) {
      @include span-columns(6);
      @include shift(3);
   }
}

.three-grid {
   // border: 1px solid red;
   @include span-columns(9);
   @include shift(1.5);
   @include media($for-tablet-up) {
      @include span-columns(4);
      @include shift(0);
   }
}

.four-grid-mosaic {
   padding: none;
   @include span-columns(6, block-collapse);
   width: 50% !important;
   @include media($for-tablet-up) {
      @include span-columns(3, block-collapse);
      width: 25% !important;
   }
}



// SELECTIVE DISPLAY
.not-on-phone-size {
   @include media($for-phone-only) {
      display: none !important;
   }
}

.not-on-above-phone-size {
   @include media($for-tablet-up) {
      display: none !important;
   }
}