// VARIABLES
// Declare breakpoints
$small: new-breakpoint(max-width 480px);
$medium: new-breakpoint(max-width 768px);
$large: new-breakpoint(max-width 1000px);
$wide: new-breakpoint(max-width 1230px);
$full: new-breakpoint(min-width 1231px);

// Declare transition
$transition: 0.2s;

// Declare colours
$main: rgba(171, 199, 230, 1);
// $light: rgba(171, 199, 230, 0.5);
// $vlight: rgba(171, 199, 230, 0.2);
// $dark: rgba(0, 110, 151, 1);
$white: rgba(255, 255, 255, 1);
$white-hover: rgba(255, 255, 255, 0.6);
$black: rgba(33, 33, 33, 1);
$grey: rgba(33, 33, 33, 0.25);
$black-hover: rgba(33, 33, 33, 0.1);
$hero-hover: rgba(33, 33, 33, 0.8);



// GLOBALS
html {
   overflow-y: scroll; // Fixing jumping scroll bar when page overflows
   overflow-x: hidden;

}

@-ms-viewport {
   width: device-width; // Fixing MS viewport
}

body {
   margin: 0px;
   background-color: $black;
   min-height: 100%;
   // position: relative;
}



// TYPOGRAPHY
a {
   color: inherit;
   text-decoration: none;
   &:hover {
      transition: $transition;
      color: $white-hover;
   }
}

p { // body text
   font-family: 'Scope One', serif;
   font-weight: 400;
   font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Scope One', serif;
   font-weight: 400;
   margin: 0px;
}

h1 { // logotype
   font-size: 2.6em;
}

h2 { // page title, hero text
   font-size: 2.2em;
   @include media($large) {
      font-size: 1.9em;
   }
   @include media($medium) {
      font-size: 1.6em;
   }
}

h3 { // buttons
   font-size: 1.6em;
}

h4 { // home page paragraphs, gallery title
   font-size: 1.4em;
}

h5 { // navbar menu
   font-size: 1.2em;
}

h6 { // footer
   font-size: 1em;
   line-height: 1.5em;
}