.contact {

   .form-container {
      @include span-columns(6);
      @include shift(3);
      @include media($large) {
         @include span-columns(8);
         @include shift(2);
      }
      @include media($medium) {
         @include span-columns(10);
         @include shift(1);
      }
   }

   form {
      p {
         margin-bottom: 0.66em;
      }
   }

   input, textarea {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-bottom: 1em;
      width: 100%;
      height: 48px;
      border: none;
      background-color: $black-hover;
      border-radius: 2px;
      padding: 1em;
      outline: none;
      // font-family: 'Scope One', serif;
      // font-weight: 400;
      font-size: 1.2em;
      &[type="submit"] {
         font-size: 1.6em;
         padding-bottom: 1em !important;
      }
      &[type="radio"] {
         height: auto;
         float: left;
         margin-left: 8px;
         width: 24px;
      }
      &.button {
         padding-top: 0.25em;
         cursor: pointer;
      }
   }

   textarea {
      height: 180px;
      resize: vertical;
   }

   input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
      box-shadow: 1px 1px 0 $hero-hover;
   }

   input[type="submit"] {
      font-family: 'Scope One', serif;
   }

   .radios {
      width: 100%;
      color: grey;
      margin-bottom: 2em;
   }

   .thank-you-seal {
      padding: 1em 0em 5em 0em;
   }

   img {
      border-radius: 120px;
      width: 240px;
      height: auto;
   }
}