.contact {
   // -webkit-appearance: none;

   .page-hero {
      background-image: url("/img/banner-bathroom-pond-1.jpg");
   }

   h6 {
      color: $black;
      max-width: 80%;
      margin-bottom: 1em;
      @include media($for-desktop-up) {
         max-width: 100%;
      }
   }

   .form-container {
      @include span-columns(6);
      @include shift(3);
      @include media($for-desktop-up) {
         @include span-columns(8);
         @include shift(2);
      }
      @include media($for-tablet-up) {
         @include span-columns(10);
         @include shift(1);
      }
   }

   form {
      p {
         margin-bottom: 0.33em;
         margin-top: 1em;
      }
   }

   input, textarea {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-bottom: 1em;
      width: 100%;
      height: 48px;
      border: none;
      background-color: $black-hover;
      border-radius: 2px;
      padding-left: 1em;
      outline: none;
      // font-family: 'Scope One', serif;
      // font-weight: 400;
      font-size: 1.2em;
   }

   input[type="submit"] {
      font-size: 1.6em;
      font-family: 'Scope One', serif;
      padding-bottom: 1em;
      padding-left: 0px; // override
      padding-right: 0px; // override
      margin-bottom: 3.66em;
      -webkit-appearance: none;
   }

   input.button {
      padding-top: 0.25em;
      cursor: pointer;
   }

   .radios {
      margin: 1em 0 1.66em 0;
   }

   .radio-row {
      // -webkit-appearance: none;
      // width: 100%;
      color: grey;
      margin-top: 1em;
      p {
         display: inline;
      }
   }

   .radio-row:last-of-type {
      margin-bottom: 2.5em;
   }

   input[type="radio"] {
      height: auto;
      float: left;
      margin-left: 8px;
      width: 24px;
      display: none; // added
   }

   input[type="radio"] + label span { // added
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: -2px 16px 0px 3px;
      vertical-align: middle;
      background-image: url("/contact/img/radio.svg");
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
      cursor:pointer;
   }

   input[type="radio"]:checked + label span { //added
      background-image: url("/contact/img/radio.svg");
      background-size: cover;
      background-position: -44px top;
      background-repeat: no-repeat;
   }

   textarea {
      padding-top: 0.66em;
      height: 180px;
      resize: vertical;
   }

   input[type="text"], input[type="email"], input[type="tel"], textarea {
      -webkit-appearance: none;
   }

   input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
      box-shadow: 1px 1px 0 $hero-hover;
   }

   img {
      border-radius: 120px;
      width: 240px;
      height: auto;
   }
}