footer {
   margin: 0;
   height: 120px;
   width: 100%;
   background-color: orange;
   @include media($medium) {
      height: 200px;
   }
   h6 {
      color: $white-hover;
   }
   a:hover {
      opacity: 0.7;
   }

   .footer-unit {
      padding-top: 1.33em;
      @include span-columns(5);
      &:first-of-type {
         @include shift(1);
      }
      @include media($medium) {
         @include span-columns(10);
         @include shift(1);
         &:last-of-type {
            padding-top: 0.66em;
         }
      }
   }
}