footer {
   @include outer-container;
   height: 240px;
   padding-top: 0.66em;
   background-color: $black;
   @include media($wide) {
      margin-left: 30px;
      margin-right: 15px;
   }
   @include media($medium) {
      height: 320px;
   }
   h6 {
      color: $white;
   }
   a:hover {
      color: $white-hover;
      cursor: pointer;
   }

   .footer-unit {
      padding-top: 1.33em;
      @include span-columns(4);
      @include media($medium) {
         @include span-columns(12);
      }
   }
   .footer-halfunit {
      padding-top: 1.33em;
      @include span-columns(2);
   }

   ul {
      margin: 0 0 0.33em 0;
      padding: 0px;
      list-style: none;
      @include media($medium) {
         float: none;
      }
   }
   li {
      // margin-right: 2em;
      @include media($medium) {
         margin: 0;
         float: none;
      }
   }

   #sitemap {
      @include media($medium) {
         display: none;
      }
   }

   #sitemap-home {
      text-align: right;
   }
}

