.gallery {
   .section-block {
      @include span-columns(8);
      @include shift(2);
      @include media($large) {
         @include span-columns(10);
         @include shift(1);
      }
   }

   .info {
      padding-top: 1em;
      padding-bottom: 0.33em;
   }

   .gallery {
      padding-top: 0.33em;
      padding-bottom: 0.33em;
      &:last-of-type {
         margin-bottom: 4em;
      }
   }

   .gallery-info {
      text-align: left;
      margin: 0;
      ul {
         list-style: none;
         padding: 0;
      }
      p {
         margin-top: 0.33em;
         margin-bottom: 0.33em;
      }
   }

   .divider {
      margin-bottom: 1em;
      border-bottom: 1px solid $hero-hover;
      width: 100%;
   }


// IMAGES
   .gallery-photos {
      @include span-columns(6);
      @include media($medium) {
         @include span-columns(12);
      }
   }


// MODAL
//    .modal {
//       display: none;
//       position: fixed;
//       z-index: 1;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       overflow: auto;
//       background-color: $black;
//       background-color: $hero-hover;
//    }
//
//    .modal-content {
//       background-color: $white;
//       margin-top: 10vmax;
//       padding: 20px;
//       @include span-columns(9);
//       @include shift(1.5);
//       @include media($medium) {
//          @include span-columns(11);
//          @include shift(0.5);
//          margin-top: 20vmax;
//       }
//    }
//
//    .close {
//       color: $hero-hover;
//       float: right;
//       font-size: 28px;
//       font-weight: bold;
//    }
//    .close:hover, .close:focus {
//       color: $black;
//       text-decoration: none;
//       cursor: pointer;
//    }

.modal {
  $modal-padding: 3em;
  $modal-background: #66dd11;
  // $modal-close-color: blue;


  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
   //  $img-width: 300px;
   //  border-radius: $img-width/2;
    display: block;
   //  max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .btn {
    @extend button !optional;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { // overlay
    @include position(fixed, 0px 0px 0px 0px);
    background: $hero-hover;
    opacity: 0;
    // text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

   .modal-close {
   //  @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
      // text-align: right;
      // padding: 100%;
      @include size(10em);
      cursor: pointer;
   //  background: red;

   //  &:after,
   //  &:before {
   //    @include position(absolute, 3px 3px 0 50%);
   //    @include transform(rotate(45deg));
   //    @include size(.15em 1.5em);
   //    // background: $modal-close-color;
   //    content: '';
   //    display: block;
   //    margin: -3px 0 0 -1px;
   //  }

   //  &:hover:after,
   //  &:hover:before {
      // background: darken($modal-close-color, 10);
   //  }

   //  &:before {
   //    @include transform(rotate(-45deg));
   //  }
   img {
      width: 100%;
      height: auto;
   }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: 2px;
    background: $white;
    margin: auto;
    width: 50vw;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
   //  padding: $modal-padding /2;
   //  margin-top: 4em;

    @include media($medium) {
      padding: $modal-padding;
      // width: 60%;
      max-height: 60%;
      margin-top: 10em;
    }

    @include media($large) {
      // width: 50%;
      margin-top: 10em;
    }

    p.body, p.intro {
      font-size: 20px;
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}

// Based on code by Kasper Mikiewicz

}