header {
   @include outer-container;
   color: $black;
   margin-bottom: 0.33em;
   @include media($for-tablet-up) {
      padding-left: 25px;
      padding-right: 15px;
   }

   .header-name {
      float: left;
      padding-top: 0.66em;
   }

   .header-menu {
      float: right;
      padding-top: 2em;
      @include media($for-phone-only) {
         /*Display 'show menu' link*/
            .show-menu {
               display:block;
            }
         }

      .mobile {
         display: none;
         @include media($for-phone-only) {
            display: list-item;
         }
      }

      .desktop {
         display: list-item;
         @include media($for-phone-only) {
            display: none;
         }
      }

      ul {
         margin: 0px;
         padding: 0px;
         list-style: none;
         float: right;
         padding-right: 15px;
         @include media($for-phone-only) {
            float: none;
            text-align: right;
		      display: none;
            background-color: $yellow;
            // position: relative;
            // z-index: 2;
         }
      }
      li {
         margin-left: 2em;
         float: left;
         cursor: pointer;
         @include media($for-phone-only) {
            float: none;
            padding-bottom: 1em;
            &:first-of-type {
               padding-top: 1.66em;
            }
         }
      }
   }

   /*Style 'show menu' label button and hide it by default*/
   .show-menu {
   	text-align: right;
      padding-right: 15px;
      // padding-bottom: 1em;
   	display: none;
      cursor: pointer;
   }

   /*Hide checkbox*/
   input[type=checkbox]{
      display: none;
   }

   /*Show menu when invisible checkbox is checked*/
   input[type=checkbox]:checked ~ #menu{
      display: block;
   }
}