header {
   @include outer-container(100%);
   color: $black;
   border: 1px solid red;

   .header-name {
      padding-top: 0.66em;
   }

   .header-tagline {
      float: left;
   }

   .header-menu {
      @include media($for-phone-only) {
         /*Display 'menu' link*/
            .show-menu {
               display:block;
            }
         }

      .mobile {
         display: none;
         @include media($for-phone-only) {
            display: list-item;
         }
      }

      .desktop {
         display: none;
         @include media($for-tablet-up) {
            display: list-item;
         }
      }

      ul {
         margin: 0px;
         padding: 0px;
         list-style: none;
         float: right;
         @include media($for-phone-only) {
            float: none;
            text-align: right;
		      display: none;
            background-color: $white;
         }
      }
      li {
         margin-left: 2em;
         float: left;
         cursor: pointer;
         @include media($for-phone-only) {
            float: none;
            padding-bottom: 1em;
            &:first-of-type {
               padding-top: 1em;
            }
         }
      }
   }

   /*Style 'show menu' label button and hide it by default*/
   .show-menu {
   	text-align: right;
   	display: none;
      cursor: pointer;
   }

   /*Hide checkbox*/
   input[type=checkbox]{
      display: none;
   }

   /*Show menu when invisible checkbox is checked*/
   input[type=checkbox]:checked ~ #menu{
      display: block;
   }
}