.home {
   .hero-container {
      @include outer-container(100%);
      width: 100vw;
      height: 90vh;
      background-image: url("/img/banner-old-street-2.jpg");
      background-size: cover;
      background-position: 50% 0;
   }

   .hero-text-wrapper {
      // border: 1px solid red;
      height: 100%;
      @include span-columns(10);
      @include shift(1);
      display: flex;
      @include media($for-tablet-up) {
         @include span-columns(8);
         @include shift(2);
         display: flex;
      }
      @include media($for-desktop-up) {
         @include span-columns(5.4);
         @include shift(3.3);
         display: flex;
      }

      align-items: center;
      text-align: center;
   }

   .hero-text {
      // border: 1px solid blue;
      margin-bottom: 10vh;
      padding: 0.5em 1em;
      @include media($for-tablet-up) {
         padding: 0.75em 3em;
      }
      @include media($for-desktop-up) {
         padding: 1em 4em;
      }
      background-color: $yellow-trans;
      border-radius: $radius;
   }

   .big-for-title {
      // color: $white;
      font-family: 'Rufina', serif !important;
      font-weight: 700;
      font-size: 1.5em;
      @include media($for-tablet-up) {
         font-size: 2.2em;
      }
   }
}
