main {
   overflow: auto;
   background-color: $main;

   .hero {
      .hero-container {
         @include outer-container(100%);
         width: 100vw;
         height: 90vh;
         background-size: cover;
         background-position: 50% 0;
      }
   }

   .page-container {
      background-color: $yellow;
      height: auto;
      margin-top: 5em;
      margin-bottom: 6em;
      padding: 0.6em 1em 3em 1em;
      @include media($for-tablet-up) {
         padding-top: 1em;
         padding-left: 3em;
         padding-right: 3em;
      }
      @include media($for-desktop-up) {
         padding-top: 1.2em;
         padding-left: 3.6em;
         padding-right: 3.6em;
      }
   }

   .button {
      background-color: $yellow;
      border: 1px solid $yellow;
      border-radius: $radius;
      height: $height;
      cursor: pointer;
      display: inline-block;
      margin: 1em auto;
      padding: 10px 24px;
      &:hover {
         background-color: $yellow-trans;
         border: 1px solid $yellow;
      }
   }

   .page-hero {
      background-size: cover;
      background-position: 50% 0;
      margin-bottom: 1em;
      height: 30vh;
      min-height: 12em;
   }

   .no-padding-bottom {
      padding-bottom: 0em;
   }

   .no-margin-bottom {
      margin-bottom: 0em;
   }

   .small-padding-top {
      padding-top: 2em;
   }

   .small-margin-top {
      margin-top: 2em;
   }

   .small-margin-bottom {
      margin-bottom: 2.5em;
   }

   .margin-bottom {
      margin-bottom: 3em;
      @include media($for-desktop-up) {
         margin-bottom: 4em;
      }
   }

   .colour-banner {
      background-color: $yellow;
   }

   .black-link {
      a {
         border-bottom: 1px dashed $black;
         &:link, &:active, &:visited, &:hover {
            color: $black !important;
            border-color: $black;
         }
      }
   }

   .video-wrapper {
      height: auto;
      position: relative;
      top: -2.4em;
      overflow: hidden;
   }

   .video-media {
      height: auto; /* Could also use width: 100%; */
      width: 100%;
      object-fit: cover;
      @include media($for-phone-only) {
         position: relative;
         width: 113%;
         left: -5%;
      }
   }

   .contact-wrapper {
      margin-top: 2em;
      margin-bottom: 2em;
      @include span-columns(12);

      h2 {
         color: $black;
         border-color: $black;
      }
      h5 {
         font-weight: 400;
         color: $white;
      }
      .button {
         background-color: $black;
         border-color: $black;
         &:hover {
            background-color: $black-trans;
         }
      }
   }

   .four-grid-mosaic {
      img {
         width: 105%;
         object-fit: cover;
         height: auto;
         display: block;
      }
   }
}