main {
   width: 100%;
   min-height: calc(100vh - 70px - 180px); /* calculate: 100% vertical height - 70px approx. header height - 120px footer height */
   @include media($medium) {
      min-height: calc(100vh - 70px - 240px); /* adjust for footer height below medium break-point */
   }

   section {
      @include outer-container(100%);
      display: block;
      background-color: $white;
   }

   .section-block {
      text-align: center;
      padding: 4em 0em;
      @include span-columns(6);
      @include shift(3);
      @include media($wide) {
         @include span-columns(8);
         @include shift(2);
      }
      @include media($medium) {
         @include span-columns(10);
         @include shift(1);
      }
   }

   .no-padding-bottom {
      padding-bottom: 0;
   }

   .less-padding-top {
      padding-top: 2em;
   }

   .paragraph {
      text-align: left;
      padding-top: 2em;
   }

   .quote {
      text-align: center;
      p {
         margin-top: 2em;
         margin-bottom: 0.5em;
      }
   }

   .block-image {
      background-size: cover;
      padding-bottom: 0px;
      background-position: center 50%; // crops image top and bottom and keeps full width to fit in a horizontal frame
      background-repeat: no-repeat;
      height: 60vh;
      min-height: 400px;
      @include media($medium) {
         background-size: cover;
         background-position: center 0px; // crops image left and right and keeps full height to fit in a vertical frame
      }
   }

   .hero-container {
      padding-top: 3em;
      @include span-columns(8);
      @include shift(2);
      @include media($large) {
         @include span-columns(10);
         @include shift(1);
      }
      @include media($full) {
         @include span-columns(6);
         @include shift(3);
      }
   }

   .hero-text {
      text-align: center;
   }

   .button {
      background-color: $white;
      max-width: 280px;
      border: 1px solid $black;
      margin: 2em auto;
      display: block;
      cursor: pointer;
      text-align: center;
      &:hover {
         background-color: $black-hover;
      }
      h3 {
         color: $black;
      }
   }

   .hero-button {
      height: 52px;
      border-radius: 26px;
      h3 {
         padding-top: 8px;
      }
   }

   .regular-button {
      height: 48px;
      border-radius: 24px;
      h3 {
         padding-top: 6px;
      }
   }

   .close-button {
      z-index: 99;
      position: relative;
      top: 64px;
      height: 40px;
      width: 120px;
      margin: 0 auto 0 auto;
      background-color: $white-hover;
      h3 {
         padding-top: 2px;
      }
   }

   .body-text-link {
      color: inherit;
      border-bottom: 1px dotted $black;
      &:hover {
         opacity: 0.5;
      }
   }

   .view-image {
      a {
         position: relative;
         width: 100%;
         height: auto;
         display: block;
         cursor: pointer;
      }
      a img {
         width: 100%;
         margin-bottom: 1.33em;
         display: block;
      }
      a:after {
         content:'\A';
         position: absolute;
         width: 100%; height: 100%;
         top: 0; left: 0;
         background: $black-hover;
         opacity: 0;
         transition: $transition;
      }
      a:hover:after {
         opacity: 1;
      }
   }


// Round badge
   .badge {
      margin-top: 3em;
      margin-bottom: 2em;
      margin-left: auto;
      margin-right: auto;
      height: 230px;
      width: 230px;
      padding: 0px;
      border-radius: 50%;
      border: 1px solid $black;
      background-size: cover;
      @include media($wide) {
         height: 190px;
         width: 190px;
      }
      @include media($large) {
         height: 210px;
         width: 210px;
      }
      @include media($medium) {
         height: 190px;
         width: 190px;
      }
      @include media($small) {
         height: 210px;
         width: 210px;
      }
   }


// MODAL
// Based on code by Kasper Mikiewicz
   .modal {
      $modal-padding: 3em;
      $modal-background: #66dd11;

      label {
      }

      input[type="checkbox"] {
         display: none;
      }

      .modal-open {
         overflow: hidden;
      }

      .modal-window { // overlay
         @include position(fixed, 0px 0px 0px 0px);
         background: $hero-hover;
         opacity: 0;
         visibility: hidden;
         z-index: 90;
      }

      .modal-inner {
         margin: auto;
         // margin-top: 5vh;
         // margin-bottom: 15vh;
      }

      .enlarged-img {
         margin-left: auto;
         margin-right: auto;
         max-width: 100vw;
         max-height: 80vh;
         border: 1px solid $black;
         border-radius: 2px;
         @include media ($medium) {
            border-left: none;
            border-right: none;
            border-radius: 0px;
         }
      }

      .modal-state:checked + .modal-window {
         opacity: 1;
         visibility: visible;
         height: 100%;
      }

      .modal-state:checked + .modal-window .modal-inner {
         top: 0;
      }
   }




   // IMAGES
   #home-hero-image {
      background-image: url("/img/banner-white-forest-3.jpg");
   }

   #home-banner-1 {
      background-image: url("/img/banner-summer-meadow-1.jpg");
   }

   #home-banner-2 {
      background-image: url("/img/banner-bathroom-pond-1.jpg");
   }

   #home-banner-3 {
      background-image: url("/img/banner-white-forest-1.jpg");
   }

   #home-banner-4 {
      background-image: url("/img/banner-summer-meadow-2.jpg");
   }
}
