main {
   overflow: auto;
   background-color: $main;
   // width: 100%;
   // min-height: calc(100vh - 70px - 180px); /* calculate: 100% vertical height - 70px approx. header height - 120px footer height */
   // @include media($for-phone-only) {
   //    min-height: calc(100vh - 70px - 240px); /* adjust for footer height below medium break-point */
   // }

   .hero {
      .hero-container {
         @include outer-container(100%);
         // border: 1px solid red;
         width: 100vw;
         height: 90vh;
         background-size: cover;
         background-position: 50% 0;
      }
   }

   .button {
      background-color: $yellow;
      border: 1px solid $yellow;
      border-radius: $radius;
      height: $height;
      cursor: pointer;
      display: inline-block;
      margin: 1em auto;
      padding: 10px 24px;
      &:hover {
         background-color: $yellow-trans;
         border: 1px solid $yellow;
      }
   }

   .text-center {
      text-align: center;
   }

   .flex-center {
      display: flex !important;
      align-items: center;
      justify-content: center;
   }

   .page-hero {
      background-size: cover;
      background-position: 50% 0;
      margin-bottom: 1em;
      height: 30vh;
      min-height: 12em;
   }

   .no-padding-bottom {
      padding-bottom: 0;
   }

   .less-padding-top {
      padding-top: 2em;
   }

   .less-margin-top {
      margin-top: 2em;
   }

   .margin-bottom {
      margin-bottom: 3em;
      @include media($for-desktop-up) {
         margin-bottom: 4em;
      }
   }

   .colour-banner {
      background-color: $yellow;

      .video-wrapper {
         height: auto;
         position: relative;
         top: -2.4em;
         overflow: hidden;
      }

      .video-media {
         height: auto; /* Could also use width: 100%; */
         width: 100%;
         object-fit: cover;
         @include media($for-phone-only) {
            position: relative;
            width: 113%;
            left: -5%;
         }
      }

      .contact-wrapper {
         margin-top: 2em;
         margin-bottom: 2em;
         @include span-columns(12);

         h2 {
            color: $black;
            border-color: $black;
         }
         h5 {
            font-weight: 400;
            color: $white;
         }
         .button {
            background-color: $black;
            border-color: $black;
            &:hover {
               background-color: $black-trans;
            }
         }
      }
   }

   .four-grid-mosaic {
      img {
         width: 105%;
         object-fit: cover;
         height: auto;
         display: block;
      }
   }




   // ABOVE ARE ITEMS IN USE, BELOW ITEMS ARE NOT IN USE







   .paragraph {
      text-align: left;
      padding-top: 2em;
   }

   .quote {
      text-align: center;
      p {
         margin-top: 2em;
         margin-bottom: 0.5em;
      }
   }

   .block-image {
      background-size: cover;
      padding-bottom: 0px;
      background-position: center 50%; // crops image top and bottom and keeps full width to fit in a horizontal frame
      background-repeat: no-repeat;
      height: 60vh;
      min-height: 400px;
      @include media($for-tablet-up) {
         background-size: cover;
         background-position: center 0px; // crops image left and right and keeps full height to fit in a vertical frame
      }
   }

   .close-button {
      z-index: 99;
      position: relative;
      top: 64px;
      height: 40px;
      width: 120px;
      margin: 0 auto 0 auto;
      background-color: $white-hover;
      h3 {
         padding-top: 2px;
      }
   }

   .body-text-link {
      color: inherit;
      border-bottom: 1px dotted $black;
      &:hover {
         opacity: 0.5;
      }
   }

   .view-image {
      a {
         position: relative;
         width: 100%;
         height: auto;
         display: block;
         cursor: pointer;
      }
      a img {
         width: 100%;
         margin-bottom: 1.33em;
         display: block;
      }
      a:after {
         content:'\A';
         position: absolute;
         width: 100%; height: 100%;
         top: 0; left: 0;
         background: $black-trans;
         opacity: 0;
         transition: $transition;
      }
      a:hover:after {
         opacity: 1;
      }
   }


// Round badge
   .badge {
      margin-top: 3em;
      margin-bottom: 2em;
      margin-left: auto;
      margin-right: auto;
      height: 230px;
      width: 230px;
      padding: 0px;
      border-radius: 50%;
      border: 1px solid $black;
      background-size: cover;
      @include media($for-desktop-up) {
         height: 190px;
         width: 190px;
      }
      @include media($for-desktop-up) {
         height: 210px;
         width: 210px;
      }
      @include media($for-tablet-up) {
         height: 190px;
         width: 190px;
      }
      @include media($for-phone-only) {
         height: 210px;
         width: 210px;
      }
   }


// MODAL
// Based on code by Kasper Mikiewicz
   .modal {
      $modal-padding: 3em;
      $modal-background: #66dd11;

      label {
      }

      input[type="checkbox"] {
         display: none;
      }

      .modal-open {
         overflow: hidden;
      }

      .modal-window { // overlay
         @include position(fixed, 0px 0px 0px 0px);
         background: $black-trans;
         opacity: 0;
         visibility: hidden;
         z-index: 90;
      }

      .modal-inner {
         margin: auto;
         // margin-top: 5vh;
         // margin-bottom: 15vh;
      }

      .enlarged-img {
         margin-left: auto;
         margin-right: auto;
         max-width: 100vw;
         max-height: 80vh;
         border: 1px solid $black;
         border-radius: 2px;
         @include media ($for-tablet-up) {
            border-left: none;
            border-right: none;
            border-radius: 0px;
         }
      }

      .modal-state:checked + .modal-window {
         opacity: 1;
         visibility: visible;
         height: 100%;
      }

      .modal-state:checked + .modal-window .modal-inner {
         top: 0;
      }
   }

   .superscript {
      position: relative;
      bottom: 3px;
   }

}
