nav {
   max-height: 60px;
   overflow: hidden;
   @include outer-container(100%);
   @include media($medium) {
      padding-left: 15px;
      padding-right: 15px;
   }

   .navbar {
      border: 1px solid red;
      .menu-box {
         @include outer-container(100%);
         @include span-columns(10);
         @include shift(1);
         border: 1px solid blue;
      }
      ul {
         @include outer-container(100%);
         margin: 0px;
         padding: 0px;
      }
      li {
         @include span-columns(2.4, table);
         &:hover {
            cursor: pointer;
            transition: $transition;
         }
      }
   }
}