.technique {

   .section-materials {
      @include span-columns(10);
      @include shift(1);
      @include media($large) {
         @include span-columns(9);
         @include shift(1.5);
      }
      @include media($medium) {
         @include span-columns(11);
         @include shift(0.5);
      }
      @include media($small) {
         @include span-columns(10);
         @include shift(1);
      }
      margin-bottom: 2em;
   }

   .materials-unit {
      text-align: center;
      @include span-columns(3);
      @include media($large) {
         @include span-columns(5.5);
         @include shift(0.33);
         @include omega(2n);
      }
      @include media($small) {
         @include span-columns(11.5);
         @include shift(0.25);
      }
   }

   .list {
      margin-top: 2em;
   }

   ul {
      display: block;
      list-style: none;
      margin: auto;
      padding-left: 0;
      padding-top: 0.33em;
      p {
         padding-top: 0.33em;
      }
      li {
         margin-bottom: 2em;
      }
      li:before {
         font-family: 'Scope One', serif;
         font-weight: 400;
         font-size: 2em;
         color: $main;
         content: url("/technique/img/check.svg");
         display: block;
         float: left;
         width: 1.5em;
         margin-left: 0.1em;
         margin-right: 0.33em;
      }
   }

   .section-examples {
      @include span-columns(8);
      @include shift(2);
      @include media($medium) {
         @include span-columns(10);
         @include shift(1);
      }
      // @include media($small) {
      //    @include span-columns(10);
      //    @include shift(1);
      // }
      margin-bottom: 6em;
   }

   .examples-unit {
      text-align: left;
      @include span-columns(4);
      @include omega(3n);
      @include media($medium) {
         @include span-columns(12);
      }
      h6 {
         color: $black;
         margin-top: 0em;
         max-width: 480px;
         margin-left: auto;
         margin-right: auto;
      }
   }

   .example {
      margin-top: 3em;
      // margin-left: auto;
      // margin-right: auto;
      // max-width: 400px;
      padding: 0px;
      //border: 1px solid $black;
      background-size: cover;
      img {
         display: block;
         // width: 100%;
         // height: auto;
         padding: 0px;
      }
   }

   .modal-credit {
      position: relative;
      border-radius: 2px;
      padding: 2px 10px 2px 10px;
      color: $black;
         background-color: $white-hover;
      text-align: center;
      opacity: 0.8;
      @include media($small) {
         border-radius: 0px;
      }
   }

   // IMAGES
   #technique-hero {
      background-image: url("/img/banner-summer-meadow-2.jpg");
   }

   #technique-banner-1 {
      background-image: url("/img/test3.jpg");
   }

   #badge-1 {
      background-image: url("/technique/img/detail-1.jpg");
   }
   #badge-2 {
      background-image: url("/technique/img/detail-5.jpg");
   }
   #badge-3 {
      background-image: url("/technique/img/detail-2.jpg");
   }
   #badge-4 {
      background-image: url("/technique/img/detail-3.jpg");
   }
}