---
layout: main
title: Trowel & Lime | Blog
label: blog
---

<article class="blog">

	<section>
      <div class="section-block">
         <h2>Blog</h2>
      </div>
   </section>

	<!-- Post Styling -->
	{% for post in paginator.posts %}
	<section>
		<div class="section-block">
			<h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<p class="metadata">
				{% include byline.html post=post %}
			</p>
			{{ post.excerpt }}
		</div>
	</section>
	{% endfor %}

	<section>
		<div class="section-block">
			{% include paginate.html %}
		</div>
	</section>

</article>

