---
layout: main
title: Trowel & Lime | Blog Post
---

<article class="blog">

	<section>
		<div class="hero">
			<div class="hero-container">
				<div class="middle-grid page-container">
					<div class="title-container">
						<h1 class="text-left">{{ page.title }}</h1>
					</div>

					<h6 class="metadata">{% include byline.html post=page %}</h6>

					<div class="tags">
						<h6>
							{% for tag in page.tags %}
								{% capture tag_name %}{{ tag }}{% endcapture %}
								<a href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr></a>
							{% endfor %}
						</h6>
					</div>

					<div class="blogpost">
						<div class="blogpost-text">
							{{ content }}
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</article>